<div style="margin-top: 10px; margin-bottom: 10px;">
    <mat-card>
        <div class="text-field-placement">
          <form [formGroup]="editorFormGroup" novalidate>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input formControlName="title" matInput>
            </mat-form-field>
          </form>
        </div>
        <div class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="add_new_note()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" (click)="edit_note()">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </div>
          </div>
        <div>
        </div>
    </mat-card>
    <!-- <mat-card>{{editorFormGroup.value | json}}</mat-card> -->
</div>
