:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.text-field-placement{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}